<div class="jumbotron text-center">
  <h1 class="display-3">Thank You!</h1>
    <p class="lead"><strong>Your User Name: </strong>  @ViewBag.User.UserName </p>
    <p class="lead"><strong>Your Email Address:  </strong> @ViewBag.Email </p>
    <p class="lead"><strong>Your Role: </strong>  @ViewBag.Role </p>
  <hr>
 
  <p class="lead">
        <a asp-action="LogIn">Continue to Sign In</a>
  </p>
</div>